@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-900;
  }
}

@layer utilities {
  .esconder {
    display: none !important;
  }
  
  /* Versão mais específica para garantir que funcione */
  .esconder.esconder {
    display: none !important;
  }
  
  /* Classe para mostrar elementos */
  .mostrar {
    display: block !important;
  }
}